@model ExercicioVendasMasterDetail.Models.Produto

    @{
        ViewBag.Title = "Details";
    }

    <h2>Details</h2>

    <div>
        <h4>PRODUTO</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Descricao)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Descricao)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.VlrUnit)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.VlrUnit)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.IdProduto }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
